@import "tailwindcss";

@theme{
  --color-bg: 'var(--color-bg)';
  --color-bg-secondary: 'var(--color-bg-secondary)';          
  --color-card: 'var(--color-card)';        
  --color-card-alt: 'var(--color-card-alt)';    
  --color-surface: 'var(--color-surface)';     
  --color-border: 'var(--color-border)';      
  --color-accent: 'var(--color-accent)';      
  --color-accent-red: 'var(--color-accent-red)';  
  --color-accent-blue: 'var(--color-accent-blue)'; 
  --color-text: 'var(--color-text)';        
  --color-muted: 'var(--color-muted)';       
}


/* .bg-bg{
  background-image: linear-gradient(to bottom,#000000 , #301111 );
} */


:root {
     --color-bg: #0F0A0A;          
    /* main page background */

    --color-bg-secondary: #3D1A1A; 
    /* secondary background (search bar, navbar sections) */

    --color-card:#171717;        
    /* card background */

    --color-card-alt: #1E0E0E;    
    /* elevated card */

    --color-surface: #2A1010;     
    /* inputs, dropdowns, tooltips */

    --color-border: #3D1515;      
    /* borders */

    --color-accent: #be0000;      
    /* bloody red primary */

    --color-accent-red: #EF4444;  
    /* alert / badge */

    --color-accent-blue: #3B82F6; 
    /* info / secondary accent */

    --color-text: #E5E7EB;        
    /* main text */

    --color-muted: #9CA3AF;       
    /* secondary text */
}

*{
    font-family: sans-serif;
}
.normeF{
    font-family: sans-serif;
}
.curseve{
    font-family: 'Great Vibes', cursive;
}

.slideFade{
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.card-title {
    line-height: 1.1;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes glitch {
          0%, 90%, 100% { 
            text-shadow: 3px 0 var(--muted), -3px 0 var(--accent);
            transform: translate(0);
          }
          92% { 
            text-shadow: -4px 0 var(--accent), 4px 0 var(--muted);
            transform: translate(-3px, 1px);
          }
          94% { 
            text-shadow: 4px 0 var(--muted), -4px 0 var(--accent);
            transform: translate(3px, -1px);
          }
          96% {
            text-shadow: -4px 0 var(--accent), 4px 0 var(--muted);
            transform: translate(0);
          }
        }

        @keyframes flicker {
          0%, 95%, 100% { opacity: 0.05; }
          96% { opacity: 0.08; }
          97% { opacity: 0.03; }
          98% { opacity: 0.07; }
        }


        .suv-bounce {
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.suv-around{
  animation: around 1s infinite ease-in-out;
}

@keyframes around {
  0% {
    transform:  translateX(50px);
  }
  50% {
    transform: translateX(-50px);
  }
  
 100% {
    transform: translateX(50px);
  }
}

